<div id="gallery">
  <nav>
    <div>
      <input type="text" class="form-control" name="searchbar" [formControl]="searchControl" [value]="search" 
        placeholder="Search..." (focus)="changeDisplay(this.searchResults, 'empty')">
      <button class="btn btn-primary" (click)="changeDisplay(this.favorites)" name="favorites">Favorites <i class="glyphicon glyphicon-star"></i> </button>
    </div>
  </nav>
  <ul>
    <li *ngFor="let photo of display; let i = index" [attr.data-index]="i">
      <img src="{{photo.getUrl()}}">
      <i (click)="handleClass($event)" class="glyphicon {{classType}}"></i>
    </li>
  </ul>
</div>